form {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 30%;
  max-height: 50%;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
  margin: 0 auto 2em;
}
form h2 {
  margin: 0 0 50px 0;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  color: #666666;
  border-bottom: solid 1px #e5e5e5;
}
form p {
  margin: 0 0 3em 0;
  position: relative;
}
form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin: 0;
}
form input[type="text"],
form input[type="password"] {
  background: #fff;
  border: 1px solid #dbdbdb;
  font-size: 1em;
  padding: .8em .5em;
  border-radius: 2px;
}
form input[type="text"]:focus,
form input[type="password"]:focus {
  background: #fff;
}
form span {
  display: block;
  background: #F9A5A5;
  padding: 2px 5px;
  color: #666;
}
form input[type="submit"]{
  background: rgba(148, 186, 101, 0.7);
  box-shadow: 0 3px 0 0 rgba(123, 163, 73, 0.7);
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 1em 0 0;
  outline: none;
  padding: .5em 0;
  text-shadow: 0 1px #68B25B;
}
form input[type="button"]{
   background: rgba(242, 208, 24, 0.7);
   box-shadow: 0 3px 0 0 rgba(202, 208, 24, 0.7);
   border-radius: 2px;
   border: none;
   color: #fff;
   cursor: pointer;
   display: block;
   font-size: 1.5em;
   line-height: 1.5em;
   margin: 1em 0 0;
   outline: none;
   padding: .5em 0;
   text-shadow: 0 1px #68B25B;
 }
form input[type="button"] #view-all{
  background: rgba(224, 176, 0, 0.7);
  box-shadow: 0 3px 0 0 rgba(214, 162, 5, 0.7);
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 1em 0 0;
  outline: none;
  padding: .5em 0;
  text-shadow: 0 1px #68B25B;
}
form input[type="submit"]:hover {
  background: #94af65;
  text-shadow: 0 1px 3px rgba(70, 93, 41, 0.7);
}
form input[type="button"]:hover {
  background: #c80000;
  text-shadow: 0 1px 3px rgba(230, 0, 0, 0.7);
}
form label {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #999;
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);
  -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
  transition: color 0.3s, top 0.3s, background-color 0.8s;
}
form label.floatLabel {
  top: -11px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
div {
  margin-bottom: 2em;
}
form h3{
  text-align: center;
  font-size: 16px;
  color: red;
}


table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
  font-size: 16px;
  border-radius: 10px;
  border-spacing: 0;
  margin: auto;
}
caption{
  font-family: "Times New Roman", cursive;
  font-size: 18px;
  color: green;
  text-align: center;
}
th {
  background: #BCEBDD;
  color: white;
  text-shadow: 0 1px 1px #2D2020;
  padding: 10px 20px;
}
th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
th:first-child, td:first-child {
  text-align: center;
}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}
td {
  padding: 10px 20px;
  background: #F8E391;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
tr td:last-child {
  border-right: none;
}

