<form action="#" method="post" (submit)="findLink()" >
  <h2>Получить информацию о ссылке</h2>
  <p>
    <label for="url" class="floatLabel">Вставьте ссылку</label>
    <input id="url" name="url" type="text" [(ngModel)]="url" required>
    <span *ngIf="url != '' && url.length < 2">Ссылка должна соответствовать формату</span>
  </p>
  <p>
    <span *ngIf="isFail"> К сожалению, такую ссылку еще не сокращали. Вы можете быть первым! </span>
    <input type="submit" value="Поиск" id="submit">

    <input type="button" value="Просмотреть" id="button" routerLink="/url-info" *ngIf="link.linkId > 0">
  </p>

  <div>{{test?.url}}</div>
  <div>{{link?.url}}</div>
</form>

