<div class="tags">
  <form>
	   <h2>{{url}}</h2>
	    <input type="text" size=80 placeholder="http://" />
	     <br>
	     <h2>{{description}}</h2>
		   <textarea> </textarea>
	     <br>
	     <h2>{{tags}}</h2>
		   <input type="text" placeholder="тeг1"  /><br>
		   <input type="text" placeholder="тeг2"  /><br>
		   <input type="text" placeholder="тeг3"  /><br>
		   <input type="text" placeholder="тeг4" /><br>
		   <input type="text" placeholder="тeг5"  />
  </form>
  <br>
  <input type="image" routerLink="/logon" src="assets/img/ok.png" alt="OK" />
</div>
<br>
<div class="buttons">
  <app-back></app-back>
  <app-logout></app-logout>
</div>
