<form action="#" method="post" (submit)="submit(user)" [hidden]="success">
  <h2>Регистрация нового пользователя</h2>
  <p>
    <label for="fullName" class="floatLabel">Имя и фамилия</label>
    <input id="fullName" name="fullName" type="text" [(ngModel)]="user.fullName" required minlength="4">
    <span *ngIf="user.fullName != '' && user.fullName.length < 2">Имя и фамилия должны быть длиннее 4 символов</span>
  </p>
  <p>
    <label for="login" class="floatLabel">Логин (ваше имя в системе)</label>
    <input id="login" name="login" type="text" [(ngModel)]="user.login" required>
    <span *ngIf="user.login != '' && user.login.length < 2">Логин должен быть длиннее 4 символов</span>
  </p>
  <p>
    <label for="password" class="floatLabel">Пароль</label>
    <input id="password" name="password" type="password" [(ngModel)]="user.password" required>
    <span *ngIf="user.password != '' && user.password.length < 2">Пароль должен быть длиннее 7 символов</span>
  </p>
  <p>
    <label for="confirmPassword" class="floatLabel">Подтвердите пароль</label>
    <input id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="confirmPassword" required>
    <span *ngIf="confirmPassword != '' && confirmPassword.length < 2">Пароль должен быть длиннее 7 символов</span>
    <span *ngIf="user.password != confirmPassword">Поля "Пароль" и "Подтвердите пароль" должны совпадать</span>
  </p>
  <p>
  <span  *ngIf="notExist">Пользователь с таким именем и (или) логином уже существует!</span>
    <input type="submit" value="Зарегистрироваться" id="submit">
  </p>
</form>

<div class="success" *ngIf="success">
  <h3>Новый пользователь успешно добавлен!</h3>
</div>

