div .wrapper{
  background-color: #F3FFEB;
  height: 100%;
}
.header{
  /*position: absolute;*/
  height: 20%;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #EFEBFF;
}
.header #first{
  font-size: 26pt;
  font-family: inherit;
  font-weight: bold;
}
.header #second{
  font-size: 20pt;
  font-style: italic;
}

div .main {
  /*position: fixed;*/
  right: 0;
  left: 0;
  top: 20%;
  margin-top: 2em;
  margin-bottom: 2em;

}
div #info{
  background: cornflowerblue;
  /*box-shadow: 0 3px 0 0 rgba(230, 0, 0, 0.7);*/
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  /*display: block;*/
  font-size: 1.5em;
  line-height: 1.5em;
  /*margin: 1em 0 0;*/
  margin-left: 35%;
  outline: none;
  padding: .5em 0.5em;
  text-shadow: 0 1px #68B25B;
}
div #input{
  background: green;
  /*box-shadow: 0 3px 0 0 rgba(230, 0, 0, 0.7);*/
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  /*display: block;*/
  font-size: 1.5em;
  line-height: 1.5em;
  /*margin: 1em 0 0;*/
  outline: none;
  padding: .5em 0.5em;
  text-shadow: 0 1px #68B25B;
}
div #register{
  background: red;
  /*box-shadow: 0 3px 0 0 rgba(230, 0, 0, 0.7);*/
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  /*display: block;*/
  font-size: 1.5em;
  line-height: 1.5em;
  /*margin: 1em 0 0;*/
  outline: none;
  padding: .5em 0.5em;
  text-shadow: 0 1px #68B25B;
}

footer{
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #FFEBEC;
  height: 5em;
}
