<div class="wrapper">

  <header class="header">
    <div id="first"> Сокращатель ссылок </div>
    <br>
    <div id="second"> "Краткость - сестра таланта" А.П.Чехов </div>
  </header>

  <div class="main">
    <input id="info" routerLink="/info" type="button" value="Информация" />
    <input id="input" routerLink="/login" type="button" value="Войти" />
    <input id="register" routerLink="/register" type="button" value="Регистрация" />
    <input id="shorter" routerLink="/shorter" type="button" value="Сократить" />
  </div>

  <router-outlet></router-outlet>

  <footer class="footer">
    <h4>Test Service for URLs shorten</h4>
    <h5>Copyright Aliaksei Shvants</h5>
  </footer>
</div>
